body {
    background-color: hsl(0, 0%, 13%);

    margin: 0 auto;
    text-align: center;
}
#squares {
    display: grid;
    grid-template-columns: repeat(16, calc(400px / 16));
    grid-template-rows: repeat(16, calc(400px / 16));
    
    justify-content: center;
    align-content: center;
}
.square {
    background-color: hsl(37, 19%, 71%) ;
}